@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
 
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
 
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
 
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
 
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
 
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
 
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
 
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
 
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
 
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
 
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
 
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
    font-family: "Open Sans", sans-serif,system-ui, -apple-system;
    font-optical-sizing: auto;
    -webkit-font-smoothing: antialiased;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* YourComponent.css */
.grid-container {
  display: grid;
  grid-template-columns: 15% 1fr; /* 25% for the first column, 1fr for the second column */
  height: 100%;
}

.sidebar-section {
  width: 100%;
  background-color:transparent; /* Optional: Add background color for visual clarity */
}

.workspace-section {
  width: 100%;
  height: 100dvh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.hover-bg{
  background-color: #e8fedf;
}
.active {
  background-color: #d7fec8;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.scroll-place-details::-webkit-scrollbar{
  height: 3px;
}

.scroll-only{
  height: calc(100vh - 22vh);
  overflow-y: scroll;
}
.scroll-only::-webkit-scrollbar{
  width: 3px;
}
@media screen and (max-width: 1024px) {
  .grid-container {
    grid-template-columns: 1fr; /* 25% for the first column, 1fr for the second column */
  }
  .sidebar-section {
    display: none;
  }
  .workspace-section {
    width: 100%;
  }
  
}